	<!DOCTYPE html>
	<html lang="ru" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>grandeLatte</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="css/linearicons.css">
			<link rel="stylesheet" href="css/font-awesome.min.css">
			<link rel="stylesheet" href="css/bootstrap.css">
			<link rel="stylesheet" href="css/magnific-popup.css">
			<link rel="stylesheet" href="css/nice-select.css">					
			<link rel="stylesheet" href="css/animate.min.css">
			<link rel="stylesheet" href="css/owl.carousel.css">
			<link rel="stylesheet" href="css/main.css">
		</head>
		<body>

			  <header id="header" id="home">
<!--				<div class="header-top">-->
<!--		  			<div class="container">-->
<!--				  		<div class="row justify-content-end">-->
<!--				  			<div class="col-lg-8 col-sm-4 col-8 header-top-right no-padding">-->
<!--				  				<ul>-->
<!--				  					<li>-->
<!--				  						Каждый день: 7:00-21:00-->
<!--				  					</li>-->
<!--				  				</ul>-->
<!--				  			</div>-->
<!--				  		</div>			  					-->
<!--		  			</div>-->
<!--				</div>			  	-->
			    <div class="container">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="index.html"><img src="img/logo.png" alt="" title="" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li><a href="#about">О нас</a></li>
				          <li><a href="#coffee">Кофе</a></li>
				          <li><a href="#review">Отзывы</a></li>
				          <li><a href="#map">Адрес</a></li>
							<li><a href="#pro">Вход для сотрудников</a></li>
						</ul>
				      </nav><!-- #nav-menu-container -->		    		
			    	</div>
			    </div>
			  </header><!-- #header -->


			<!-- start banner Area -->
			<section class="banner-area" id="home">	
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-start">
						<div class="banner-content col-lg-7">
							<h6 class="text-white text-uppercase">Проснись и пой!</h6>
							<h1>
								Начни свой день <br>
								с Гранде Латте
							</h1>
							<a href="#" class="primary-btn text-uppercase">Заказать</a>
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start video-sec Area -->
			<section class="video-sec-area pb-100 pt-40" id="about">
				<div class="container">
					<div class="row justify-content-start align-items-center">
						<div class="col-lg-6 video-right justify-content-center align-items-center d-flex">
							<div class="overlay overlay-bg"></div>
							<a class="play-btn" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img class="img-fluid" src="img/play-icon.png" alt=""></a>
						</div>						
						<div class="col-lg-6 video-left">
							<h6>Делаем кофе в прямом эфире</h6>
							<h1>Мы стримим процесс <br>
							приготовления кофе</h1>
							<p><span>Вдохновляющий кофе начинается здесь!</span></p>
							<p>
								В нашей кофейне мы тщательно выбираем зерна, обжариваем их до идеального состояния, чтобы каждая чашка была неповторимой. Наши бариста - настоящие художники, в каждом напитке они вкладывают часть своего творчества. От классического эспрессо до экзотических вариаций - каждый глоток перенесет вас в мир настоящего кофейного блаженства. Приходите и погрузитесь в атмосферу уюта и вкуса, где каждый кофе - это маленькое произведение искусства!
							</p>
							<img class="img-fluid" src="img/signature.png" alt="">
						</div>
					</div>
				</div>	
			</section>
			<!-- End video-sec Area -->
			
			<!-- Start menu Area -->
			<section class="menu-area section-gap" id="coffee">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10">Меню</h1>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-4">
							<div class="single-menu">
								<div class="title-div justify-content-between d-flex">
									<h4>Американо</h4>
									<p class="price float-right">
										170 ₽
									</p>
								</div>
								<p>
									Сильный, насыщенный, классический итальянский кофе для настоящих ценителей.
								</p>								
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-menu">
								<div class="title-div justify-content-between d-flex">
									<h4>Эспрессо</h4>
									<p class="price float-right">
										150 ₽
									</p>
								</div>
								<p>
									Сильный, насыщенный, классический итальянский кофе для настоящих ценителей.
								</p>								
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-menu">
								<div class="title-div justify-content-between d-flex">
									<h4>Капучино</h4>
									<p class="price float-right">
										200 ₽
									</p>
								</div>
								<p>
									Нежный, кремовый, с бархатистой пенкой и мягким вкусом.
								</p>								
							</div>
						</div>	
						<div class="col-lg-4">
							<div class="single-menu">
								<div class="title-div justify-content-between d-flex">
									<h4>Латте</h4>
									<p class="price float-right">
										220 ₽
									</p>
								</div>
								<p>
									Концентрированный кофе с молоком, для любителей сильных напитков.
								</p>								
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-menu">
								<div class="title-div justify-content-between d-flex">
									<h4>Раф</h4>
									<p class="price float-right">
										250 ₽
									</p>
								</div>
								<p>
									Ваниль, сливки, эспрессо - густой, сладкий, утонченный напиток.
								</p>								
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-menu">
								<div class="title-div justify-content-between d-flex">
									<h4>Моккачино</h4>
									<p class="price float-right">
										240 ₽
									</p>
								</div>
								<p>
									Сочетание шоколада, кофе и молока - для сладкоежек.
								</p>								
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-menu">
								<div class="title-div justify-content-between d-flex">
									<h4>Макиато</h4>
									<p class="price float-right">
										180 ₽
									</p>
								</div>
								<p>
									Крепкий эспрессо с небольшим количеством пенного молока сверху.
								</p>								
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-menu">
								<div class="title-div justify-content-between d-flex">
									<h4>Ледяной Латте</h4>
									<p class="price float-right">
										230 ₽
									</p>
								</div>
								<p>
									Освежающий, холодный кофе с молоком для жарких дней.
								</p>								
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-menu">
								<div class="title-div justify-content-between d-flex">
									<h4>Флэт Уайт</h4>
									<p class="price float-right">
										230 ₽
									</p>
								</div>
								<p>
									Концентрированный кофе с молоком, для любителей сильных напитков.
								</p>								
							</div>
						</div>															
					</div>
				</div>	
			</section>
			<!-- End menu Area -->
			
			<!-- Start gallery Area -->
			<section class="gallery-area section-gap" id="gallery">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10">Галерея</h1>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-4">
							<a href="img/g1.jpg" class="img-pop-home">
								<img class="img-fluid" src="img/g1.jpg" alt="">
							</a>	
							<a href="img/g2.jpg" class="img-pop-home">
								<img class="img-fluid" src="img/g2.jpg" alt="">
							</a>	
						</div>
						<div class="col-lg-8">
							<a href="img/g3.jpg" class="img-pop-home">
								<img class="img-fluid" src="img/g3.jpg" alt="">
							</a>	
							<div class="row">
								<div class="col-lg-6">
									<a href="img/g4.jpg" class="img-pop-home">
										<img class="img-fluid" src="img/g4.jpg" alt="">
									</a>	
								</div>
								<div class="col-lg-6">
									<a href="img/g5.jpg" class="img-pop-home">
										<img class="img-fluid" src="img/g5.jpg" alt="">
									</a>	
								</div>
							</div>
						</div>
					</div>
				</div>	
			</section>
			<!-- End gallery Area -->
			
			<!-- Start review Area -->
			<section class="review-area section-gap" id="review">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10">Отзывы</h1>
								<p>Лидеры мнений о нашей кофейне</p>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-6 col-md-6 single-review">
							<img src="img/r1.png" alt="" class="responsive-image">
							<div class="title d-flex flex-row">
								<h4>Maddy Murk</h4>
								<div class="star">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
								</div>
							</div>
							<p>
								Это просто что-то с чем-то, становишься будто сверхчеловеком, особенно если закусывать его шаурмой из "Мангалыча".
							</p>
						</div>	
						<div class="col-lg-6 col-md-6 single-review">
							<img src="img/r2.jpg" alt="" class="responsive-image">
							<div class="title d-flex flex-row">
								<h4>oblomoff</h4>
								<div class="star">
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>								
								</div>
							</div>
							<p>
								Это просто вкусно. Насыщенный, ароматный, хотя казалось бы, это всего лишь кофе, как оно могло меня приятно удивить. Очень вкусно.
							</p>
						</div>	
					</div>
				</div>	
			</section>
			<!-- End review Area -->
			
			<!-- Start map Area -->
			<section class="section-gap" id="map">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10">Ждём вас в гости!</h1>
								<p><span>проспект Ленина, 72, Екатеринбург, Свердловская область, 620062</span></p>
							</div>
							<div>
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d619.7427795083071!2d60.64606114011029!3d56.842620988596856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c16e83e2a680cd%3A0x2e8de7c5c867d821!2sProspekt%20Lenina%2C%2078!5e0!3m2!1sen!2sru!4v1701409660505!5m2!1sen!2sru" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
							  </div>
						</div>
					</div>						
				</div>	
			</section>

			  <!-- End map Area -->
			<!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<div id="logo">
									<a href="index.html"><img src="img/logo.png" alt="" title="" /></a>
								  </div>
								<p>
									проспект Ленина, 72, Екатеринбург, Свердловская область, 620062
								</p>
								<p class="footer-text">
									<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								</p>								
							</div>
						</div>									
					</div>
				</div>
			</footer>	
			<!-- End footer Area -->	

			<script src="js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="js/vendor/bootstrap.min.js"></script>			
  			<script src="js/easing.min.js"></script>			
			<script src="js/hoverIntent.js"></script>
			<script src="js/superfish.min.js"></script>	
			<script src="js/jquery.ajaxchimp.min.js"></script>
			<script src="js/jquery.magnific-popup.min.js"></script>	
			<script src="js/owl.carousel.min.js"></script>			
			<script src="js/jquery.sticky.js"></script>
			<script src="js/jquery.nice-select.min.js"></script>			
			<script src="js/parallax.min.js"></script>	
			<script src="js/waypoints.min.js"></script>
			<script src="js/jquery.counterup.min.js"></script>					
			<script src="js/mail-script.js"></script>	
			<script src="js/main.js"></script>	
		</body>
	</html>



